section.flow
  .container
    .flow__row.row
      .col-6
        img(src="/img/PhoneFinder.png", alt="") 
      .col-6.flow__item.flex 
        h2.flow__title
          img(src="/img/FLOW.png", alt="")
          | FLOW
        p.flow__description Listen to a personalized mix of tracks based on your listening history, or create your own mix of genres, artists and playlists - letting you enjoy more of the music you love.