- const items = [{link: '#', text:'Download'},{link: '#', text:'Help'}]

header.header
  .container 
    .row.header__row
      .logo
        a(href="/").logo__link
          img(src="/img/logo.png", alt="").logo__img
      .header__right.flex 
        nav.header__nav 
          ul.flex
            each item in items
              li.header__item
                a(href=item.link).header__link #{item.text}
        a(href="/login").header__btn.flex Log in
        a(href="/signup").header__btn.flex Sign up