section.hero
  .container
    .hero__content
      h1(style="text-align:center").hero__title Open the world of music. it's all free
      .flex.hero__row(style="justify-content:center")
        a(href="").hero__link Musicbox primium
        a(href="").hero__link Musicbox free
      p(style="text-align: center").hero__description 1-month free trial 
        span $7.99
        =' month free'