section.hero
  .container.h-100
    .hero__content.flex
      h1.hero__title Open the world of music. It’s all here.
      .flex.hero__row
        a(href="").hero__link.hero__link--premium MUSICBOX PREMIUM
        a(href="").hero__link MUSICBOX FREE 
      p.hero__description 1-month free trial 
        span &ensp;$7.99
        ='/month after'