section.listen
  .container.h-100
    .listen__text-block.h-100.flex
      h2.listen__title Listen anytime, anywhere
      p.listen__description All your favorite songs and episodes are always available - even without WiFi or LTE.
