section.login
  .container.h-100
    .login__inner.flex.h-100
      .login__card
        h1.login__title What will you listen to today?
        .row.login__row 
          a(href="").login__link.login__link--blue.flex
            img(src="/img/facebook.svg", alt="") 
            span Facebook
          a(href="").login__link.flex
            img(src="/img/google.svg", alt="") 
            span Google
        form(action="").login__form.flex.form
          label(for="login").flex.login__label.label
            input(type="text" name="email", id="login").label__input
            span.label__text.email Email address or username
          label(for="password").flex.login__label.label
            input(type="password" name="password", id='password').label__input.password
            span.label__text Password
          .row.login__row--bottom
            .row 
              input(type="checkbox", name="", id="loginCheckbox").label__checkbox
              label(for="loginCheckbox").flex Remember me
            button(type="submit").form__btn Log in
        .flex.login__text-block
          a(href="#").login__forgot Forgot your password?
          span Don't have an account?
          a(href="/signup").login__btn SIGN UP FOR MUSICBOX

