section.search
  .container.h-100
    .row.h-100
      .col-6.search__text-block.flex
        h2.search__title Find the music you want
        p.search__description Search for your favorite songs using the description, or turn on the
          span &ensp;MusicFinder 
          | feature to find the song that is playing near you.
      .col-6 
        img(src="/img/phone.png", alt="")