extends ../layout/layout.pug

block variables
  - const title = 'Main page'
  - const css = '/css/index.css'

block content
  include ../components/header.pug
  main
    include ../components/hero.pug
    include ../components/flow.pug
    include ../components/listen.pug  
    include ../components/search.pug
    include ../components/premium.pug
    include ../components/footer.pug
  script(src="/js/index.js")