extends ../layout/layout.pug

block variables
  - const title = 'Login'
  - const css = '/css/login.css'

block content
  include ../components/header.pug
  main
    include ../components/loginForm.pug
  script(src="/js/index.js")